<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="InmobiliariaAppConnectionString" connectionString="Data Source=localhost;Initial Catalog=Inmobiliaria;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="ListenerInmobiliariaApp" type="System.Diagnostics.TextWriterTraceListener" initializeData="InmobiliariaApp.log"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>